@charset "UTF-8";


.header-container{
	margin-right:5%;
	margin-left:5%;
	border-bottom: 1px solid #03c75a;
}

.home-button{
	display:flex;
	align-items:center;
	justify-content:center;
}

.home-button svg,
.home-button span{
	color:#03c75a;
}

.home-button span{
	padding-left:5px;
}

.headerHome {
	width:130px;
	height:50px;
}

.logout{
	display:flex;
	justify-content:center;
	align-items:center;
}


.link{
	position:relative;
	
	text-decoration: none;
	
	color:#03c75a; 
	font-weight:bolder;
	
	margin-right:2px;
	margin-left:2px;
}


.category{
	flex-grow:1;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:stretch;
	height:30px;

	border:1px solid #03c75a;
	border-bottom:0px;
	border-radius:7px 7px 0px 0px;
	
	background-color:#deefd6;
}

.category-div{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	
	width:11%;
	
	margin-right:2%;
	margin-left:2%;
}

.category-link{
	display:flex;
	align-items:center;
	position:relative;
	
	height:30px;
	
	color:#03c75a; 
	font-weight:bolder; 
	font-size:14px; 
}

.dropdown-content{
	display:flex;
	flex-direction:row;
	justify-content:center;
	
	width:81%;
	
	position:absolute;
	top:120px;
	z-index:1;
	height:0;
	overflow:hidden;
	box-shadow: 0px 8px 16px -5px rgba(0,0,0,0.2);
	border:1px solid #03c75a;
	border-top:0px;
	border-radius:0px 0px 10px 10px;
	box-sizing: border-box;
	
	background-color:#deefd6;
	
	transition:height 1s ease;
}
.dropdown-content a{
	display:block;
}

.dropdown-category{
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	align-items:center;
	
	width:11%;
	
	margin-right:2%;
	margin-left:2%;
	margin-bottom:10px;

	border-top:1px solid #bcdbac;
	
	color:#03c75a;
}

.dropdown-category-a{
	margin-top:5px;
	margin-bottom:5px;
}

.header-button{
	background-color:transparent;	
	border:0px;
	cursor:pointer;
	color:#03c75a;
	font-weight:bold;
	text-decoration:none;
}