@charset "UTF-8";


.headerHome {
	width:130px;
	height:50px;
}
.login {
	width:130px;
	height:50px;
	
}
svg{
	position:absolute;
	left:15;
	color:#03c75a;
}
span{
	position:absolute;
	left:50;
	color:#03c75a;
}


.link1{
	position:relative;
	width:130px;
	height:50px;
}
.link{
	position:relative;
	width:50px;
	height:25px;
	top:25%;
	
	color:#03c75a; 
	font-weight:bolder; 
	font-size:12px; 
	
	margin-right:2px;
	margin-left:2px;
}


.category{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:stretch;
	height:30px;
	padding-top:20px;	
}

.category_link{
	text-align:centet;
	position:relative;
	
	color:#03c75a; 
	font-weight:bolder; 
	font-size:14px; 
	
}