@charset "UTF-8";


.searcharea {
	width:50%; 
	height:70px; 
	text-align: center;
}
.searchbox {
	width:100%; 
	text-align: center;
	border:1px solid #03c75a;
	border-radius:33px;
	background-color:#fff;
}
.search {
	width:80%; 
	height:100%; 
	border:0;
	
	outline:0;
}

.box{
	display:grid;
	grid-template-columns: repeat(3, minmax(100px, auto));
	width:100%;
	height:100%;
}

.lecture-box1{
	
	border:1px solid #03c75a;
	border-radius:10px;
	background-color:#deefd6;
	
	grid-row:1/3;
	
	min-width:150px;
	
	margin-left:50px;
	margin-bottom:5px;
	
/* 	width:40%; */
/* 	height:50%; */
}
.lecture-box2{
	border:1px solid #03c75a;
	border-radius:10px;
	background-color:#deefd6;
	
	grid-column:2/4;
	
	min-width:300px;
	
	margin-left:5px;
	margin-right:50px;
	margin-bottom:5px;
	
/* 	width:60%; */
/* 	height:25%; */
}