@charset "UTF-8";
.row-lecname{
	width:100%;
	margin-top:20px;
}

.lec-title{
	font-weight: bold;
	font-size: 45px;
    margin: 15px 0px 15px 0px;
}

.badge{
	--bs-badge-padding-x: 0.65em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 700;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: var(--bs-border-radius);
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    margin: 2px;
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 1;
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 7px;
    
    --bs-bg-opacity: 1;
}

.bg-primary{
	background-color:#0d6efd;
}
.bg-secondary{
	background-color:#6c757d;
}

.lec-description{
	width:100%;
	flex-direction:row !important;
	align-items:flex-start !important;
}