@charset "UTF-8";

.link1{
	position:relative;
	width:120px;
	height:50px;
}
.link2{
	position:relative;
	width:72px;
	height:50px;
	
}
svg{
	position:absolute;
	top:15;
	left:15;
}
span{
	position:absolute;
	top:15;
	left:50;
}
.box {
	width:320px;
	padding:10px;
	border:5px solid gray;
	margin:0;
}

.search{
	display:block;
	margin:auto;
}

.register{
	width:50%;
	padding-top:10%;
	margin:auto;
}


div {
	text-align: center;
}
