body {
    font-family: Arial, sans-serif;
}

.main-content {
    text-align: center;
    margin-top: 50px;
}


.modal-content {
    position: relative;
}


.col{
	width:100%;
	display:flex;
	flex-direction:row;
}

.row{
	display:flex;
	flex-direction:column;
	justify-content:center;	
	padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-bottom:5%;
}

::after, ::before{
	box-sizing:border-box;
}

.container{
	padding-right:3%;
    padding-left:3%;
    margin-right:2%;
    margin-left:2%;
}

.link{
	text-decoration: none;
}

input{
    font-size: inherit;
}

a{
	text-decoration:none;
}