body {
	min-width:750px;
    font-family: Arial, sans-serif;
    background-color:#cfe7c3;
}

.main-content {
    text-align: center;
    margin-top: 50px;
}


.modal-content {
    position: relative;
}


.col{
	width:100%;
	display:flex;
	flex-direction:row;
}

.row{
	display:flex;
	flex-direction:column;
	justify-content:center;	
	padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-bottom:3%;
}

::after, ::before{
	box-sizing:border-box;
}

.container{
	padding-right:3%;
    padding-left:3%;
    margin-right:2%;
    margin-left:2%;
}

.errorMessage{
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:13px;
	color:#ff6868;
	margin-bottom:5px;
	margin-top:5px;
	white-space: pre-line;
	line-height: 1.7;
}



input[text]{
	outline:0;
}
input{
    font-size: inherit;
}

a{
	display:flex;
	align-items:center;
	justify-content:center;
	text-decoration:none;
}