<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="6.0">
	<filter>
	    <filter-name>viewpoint</filter-name>
	    <filter-class>filter.ViewPoint</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>viewpoint</filter-name>
	    <url-pattern>/post/post.jsp</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>createPostServlet</servlet-name>
		<servlet-class>servlet.createPostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createPostServlet</servlet-name>
		<url-pattern>/createPost</url-pattern>
	</servlet-mapping>
	
	
	
	
    <servlet>
        <servlet-name>MemberServlet</servlet-name>
        <servlet-class>servlet.MemberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemberServlet</servlet-name>
        <url-pattern>*.member</url-pattern>
    </servlet-mapping>
        
</web-app>