@charset "UTF-8";

.regi_out{
	width:400px;
	min-height:600px;
	max-height:80%;
	display:flex;
	border:1px solid #03c75a;
	border-radius:10px;
	justify-content:center;
	align-items:center;
	background:#e0f0d9;
}

.regi_in{
	color:#03c75a;
	width:70%;
	height:80%;
	display:flex;
	justify-content:center;
	align-items:center;
}


.register{
	width:100%;
	height:100%;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}

.input_dv{
	width:100%;
	height:30px;
	border:1px solid #03c75a;
	background-color:#fff;
	display:flex;
	justify-content:center;
}

.input{
	width:90%;
	height:100%;
	border:0px;
	background-color:#fff;
	color:#03c75a;
	outline:0;
}
input::placeholder{
	color:#03c75a;
}

.id{
	border-radius:5px 5px 0px 0px;
	border-bottom:1px;
}
.name{
	border-radius:5px 5px 0px 0px;
	border-bottom:0px;
}

.passwd{
	border-radius:0px 0px 5px 5px;
	border-top:1px;
}
.email{
	border-radius:0px 0px 5px 5px;
	border-top:0px;
}

.phone{
	border-top:0px;
	border-bottom:0px
}

.button{
	margin-top:60px !important;
	width:100%;
	height:40px;
	color:#03c75a;
	background-color:white;
	border:1px solid #03c75a;
	border-radius:10px;
	cursor:pointer; 
}